$box-shadow-sm-offset-x: 0px;

$box-shadow-sm-offset-y: 4px;

$box-shadow-sm-blur-radius: 9px;

$box-shadow-sm-spread-radius: 0px;

$box-shadow-sm-color: rgba(16, 47, 67, 0.12);

$box-shadow-md-offset-x: 0px;

$box-shadow-md-offset-y: 8px;

$box-shadow-md-blur-radius: 16px;

$box-shadow-md-spread-radius: 0px;

$box-shadow-md-color: rgba(16, 47, 67, 0.1);

$box-shadow-lg-offset-x: 0px;

$box-shadow-lg-offset-y: 15px;

$box-shadow-lg-blur-radius: 20px;

$box-shadow-lg-spread-radius: 0px;

$box-shadow-lg-color: rgba(16, 47, 67, 0.1);

$box-shadow-xl-offset-x: 0px;

$box-shadow-xl-offset-y: 48px;

$box-shadow-xl-blur-radius: 56px;

$box-shadow-xl-spread-radius: 0px;

$box-shadow-xl-color: rgba(16, 47, 67, 0.24);