$color-primary: #ef0781;

$color-secondary: #2c2c2c;

$color-accent: #69feff;

$color-success: #000000;

$color-danger: #000000;

$color-warning: #000000;

$color-info: #000000;

$color-neutral-white: #ffffff;

$color-neutral-lightest: #f3f6f9;

$color-neutral-lighter: #ebf0f5;

$color-neutral-light: #e1e8ef;

$color-neutral-grey: #ccd5df;

$color-neutral-greyer: #a3b2c2;

$color-neutral-greyest: #7189a7;

$color-neutral-dark: #3a495d;

$color-neutral-darker: #091c35;

$color-neutral-darkest: #061223;

$color-neutral-black: #000000;