$font-family: "Teko";

$font-family-heading: "Teko";

$font-size-base: 16;

$font-size-hero: 2.5;

$font-size-h1: 2.125;

$font-size-h2: 1.5;

$font-size-h3: 1.25;

$font-size-highlight: 1.125;

$font-size-subtitle: 0.875;

$font-size-subheader: 0.75;

$font-size-table-default: 0.875;

$font-size-table-header: 0.75;

$font-weight-regular: 400;

$font-weight-heading: 700;

$line-height-base: 1.5;

$line-height-heading: 1.5;