<div class="bb-list__item bb-stack bb-payment-card-self-service-row">
    <form [formGroup]= "cardRenameForm" (ngSubmit)="rename()" class="form-inline">
    <div class="bb-stack bb-stack--align-top bb-stack__item bb-payment-card-self-service-row__description">
      <bb-icon-ui name="mode-edit" size="md" class="bb-stack__item"></bb-icon-ui>
      <div class="bb-stack__item">
        
          <div class="form-group mx-sm-3">
            <label for="newName" class="sr-only">New Name:</label>
            <input
              type="text"
              id="newName"
              formControlName="cardName"
              [value]="context?.cardName"
              class="form-control"
            />
          </div>
    </div>
    <div class="bb-stack__item bb-payment-card-self-service-row__button">
      <button type="submit" class="btn btn-primary">Rename</button>
    </div>
  </div>
</form>
  </div>